/*******************************************************************************************
                                  Variables 
*******************************************************************************************/
:root {
  --dark-color: #1F2937;
  --white-color: #F9FAF8;
  --gray-color: #E5E7EB;
  --blue-color: #3882F6;
}



/*******************************************************************************************
                                  GENERAL STYLE
*******************************************************************************************/
*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Roboto', sans-serif;
}

a {
  text-decoration: none;
}

ul {
  list-style: none;
}

.container {
  padding: 1em;
}

.btn {
  display: inline-block;
  margin-top: 1em;
  margin-bottom: 1.5em;
  padding: .5em 1.5em;
  border-radius: .5em;
  font-size: 1.1em;
}



/*******************************************************************************************
                                      HEADER
*******************************************************************************************/
.heading {
  background-color: var(--dark-color);
}

.main-nav {
  display: flex;
  align-items: baseline;
}

.logo {
  margin-right: auto;
  color: var(--white-color);
  font-weight: 700;
}

.nav-links {
  display: flex;
  gap: .5em;
}

.nav-links a {
  color: var(--gray-color);
}


/*******************************************************************************************
                                      HERO
*******************************************************************************************/
.hero {
  background-color: var(--dark-color);
  text-align: center;
  margin-bottom: 2em;
  padding-bottom: 2em;
}

.main-heading {
  color: var(--white-color);
  margin-top: 1em;
  margin-bottom: .5em;
  font-size: 2em;
}

.hero--p {
  color: var(--gray-color);
}

.hero--btn {
  color: var(--white-color);
  background-color: var(--blue-color);
}


.hero--image {
  text-align: center;
}

.hero-img {
  width: 15em;
}



/*******************************************************************************************
                                  Features Section 
*******************************************************************************************/
.features {
  margin-bottom: 2em;
}

h2 {
  text-align: center;
  color: var(--dark-color);
}

.features-illustration {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 90%;
  margin: 0 auto;
}

.features--image {
  width: 15em;
  height: 10em;
  margin: 2em auto 1em;
  border: 2px solid var(--blue-color);
  border-radius: .8em;
}

.features--p {
  font-size: 1.2em;
  text-align: center;
  color: var(--dark-color);
}



/*******************************************************************************************
                                  Testimonial Section 
*******************************************************************************************/
.testimonial {
  background-color: var(--gray-color);
  padding: 1em 0;
  margin-bottom: 2em;
}

.testimonial--p {
  color: var(--dark-color);
  font-weight: 700;
  text-align: center;
  font-size: 1.2em;
}

.testimonial--author {
  margin-top: .6em;
  text-align: right;
  color: var(--dark-color);
  font-weight: 700;
}



/*******************************************************************************************
                                  CTA Section 
*******************************************************************************************/
.cta {
  margin-bottom: 2em;
  text-align: center;
}

.cta-container {
  background-color: var(--blue-color);
  padding: 2em;
}

.cta--heading {
  color: var(--white-color);
  font-size: 1.6em;
  margin-bottom: .5em;
}

.cta--p {
  color: var(--gray-color);
}

.cta--btn {
  background-color: var(--dark-color);
  color: var(--white-color);
}



/*******************************************************************************************
                                    FOOTER 
*******************************************************************************************/
footer {
  background-color: var(--dark-color);
  text-align: center;
  padding: .8em;
}

.footer--p {
  color: var(--white-color);
}
