/*******************************************************************************************
                                  Variables 
*******************************************************************************************/
:root {
  --dark-color: #1F2937;

}


/*******************************************************************************************
                                  GENERAL STYLE
*******************************************************************************************/
*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: Arial, sans-serif;
}

a {
  text-decoration: none;
}

ul {
  list-style: none;
}

.container {
  padding: 1em;
}


/*******************************************************************************************
                                    HEADER
*******************************************************************************************/
.main-heading {
  background-color: var(--dark-color);
}

.main-nav {
  display: flex;
  align-items: baseline;
}

.logo {
  margin-right: auto;
}

.nav-links {
  display: flex;
  gap: .5em;
}
