/*******************************************************************************************
                                  Variables 
*******************************************************************************************/
:root {
  --dark-color: #1F2937;
  --white-color: #F9FAF8;
  --gray-color: #E5E7EB;
  --blue-color: #3882F6;
}



/*******************************************************************************************
                                  GENERAL STYLE
*******************************************************************************************/
*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Roboto', sans-serif;
}

a {
  text-decoration: none;
}

ul {
  list-style: none;
}

.container {
  padding: 1em;
}


/*******************************************************************************************
                                      HEADER
*******************************************************************************************/
.heading {
  background-color: var(--dark-color);
}

.main-nav {
  display: flex;
  align-items: baseline;
}

.logo {
  margin-right: auto;
  color: var(--white-color);
  font-weight: 700;
}

.nav-links {
  display: flex;
  gap: .5em;
}

.nav-links a {
  color: var(--gray-color);
}


/*******************************************************************************************
                                      HERO
*******************************************************************************************/
.hero {
  background-color: var(--dark-color);
  text-align: center;
}

.main-heading {
  color: var(--white-color);
  margin-top: 1em;
  margin-bottom: .5em;
  font-size: 2em;
}

.hero--p {
  color: var(--gray-color);
}

.btn {
  display: inline-block;
  margin-top: 1em;
  margin-bottom: 1.5em;
  padding: .5em 1em;
  border-radius: .5em;
  color: var(--white-color);
  background-color: var(--blue-color);
}

.hero--image {
  text-align: center;
}

.hero-img {
  width: 15em;
}



/*******************************************************************************************
                                  Features Section 
*******************************************************************************************/

